.flag {
    width: 22px!important;
    height: 40px;
    cursor: pointer;
    height: 100%;
    padding: 0 1px!important;
    margin-right: 5px;
}
.langs {    
    justify-content: center;
    margin: auto;
}