.movie-card {
    width: unset;
    margin: 15px 2px;
    display: flex;
    justify-content: center;
}
.movie-card a {
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.movie-card .front-card {
    border-radius: 7px;
    height: 300px;
    width: 200px;
    border: 1px solid rgb(100, 100, 100);
    margin-bottom: 10px;
    transition: 0.2s all ease;
}
.movie-card .front-card:hover  {
    border: 1px solid rgb(139, 139, 139); 
}

.movie-container {
    position: relative; 
}
.movie-card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    max-width: 180px;
}
.movie-card-date {
    font-size: 13px;
    line-height: 22px;
    color: grey;
}
.movie-container-details {
    width: 100%;
    position: relative;
}