.header-bg .searchbar-container, .header-bg .searchbar, .header-bg .searchbar input {
    width: 100%!important;
}
.header-content .searchbar input {
    background-color: white;
    color: black;
    border-radius: 25px;
    height:40px;
}
.header-content .search-ico {
    width: 38px!important;
    border-radius: 25px;
    height: auto!important;
    z-index: 999;
}
.searchbar-container {
    background: transparent;
}