.header-bg .searchbar-container, .header-bg .searchbar, .header-bg .searchbar input {
    width: 100%!important;
}
.header-content .searchbar input {
    background-color: white;
    color: black;
    border-radius: 25px;
    height:40px;
}
.header-content .search-ico {
    width: 40px!important;
    border-radius: 25px;
    height: auto!important;
    z-index: 999;
    right: 0;
    opacity: 1!important;
}
.searchbar-container {
    background: transparent;
    opacity: 1;
    margin: 6px auto;
}