.movies-list {
    list-style: none;
    display: grid;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fill, 200px); 
    margin: auto;
}

.movies-list-container {
    padding: 5px 15px 15px
}
.movies-list-container h3 {
    margin: 10px auto 30px;
    color: white;
    position: relative;
    font-size: 18px;
    text-align: left;
}
.movies-list-container h3::after {
    content: "";
    height: 1px;
    border-bottom: 1px solid orange;
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
}

@media screen and (max-width:550px) {
    .movies-list {
    grid-template-columns: repeat(auto-fill, 200px); 
    justify-content: center;
}}