.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgb(0,0,0,0.2);
    transition: all linear 0.3s;
}
.header:hover {
    background: rgb(0,0,0,0.7);
}
.header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    width: 100%;
    margin: 10px auto;
}
.logo {
    width: 45px;
    color: white;
    fill: white;
    transform: rotate(-30deg);
    margin-right: 20px!important;
}
.categorys {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    font-size: 14px;
}
.brand {
    justify-content: center;
}
