.movie-dp {

    min-height: 352px;
}

.movie-row {
    margin: 50px 0!important;
}
.movie-poster {
    width: 100%;
    max-width: 250px;
    display: flex;
    margin-top: -220px;
    margin: -220px auto 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.movie-poster img {
    width: 100%;
    border-radius: 13px;
    border: 1px solid white;
    z-index: 999;
}
.movie-left-bottom {
    display: flex;
    align-items: center;
    margin-top:10px;
    color: grey;
    position: relative;
}

.movie-leftside {
    /* width:fit-content!important; */
    /* margin: auto; */
}
.movie-left-bottom .heart {
    position: absolute;
    right: 0;
    top: 0!important;
}
.details {
    text-align: left;
}

@media screen and (max-width: 770px) {
    .movie-leftside {
        margin: 0 auto 25px;
    }
    .movie-poster {
        margin: -200px auto 0;
    
    }
}