.movie-dp {

    min-height: 352px;
}

.movie-row {
    margin: 0px 0!important;
}
.movie-poster {
    width: 100%;
    max-width: 250px;
    display: flex;
    margin-top: -220px;
    margin: -220px auto 0;
    display: flex;
    flex-direction: column;
}
.movie-poster img {
    width: 100%;
    border-radius: 13px;
    border: 1px solid white;
}
.movie-left-bottom {
    margin-top:10px;
    color: grey;
}
.movie-left-bottom .heart {
    position: relative;
}

@media screen and (max-width: 770px) {
    .movie-leftside {
        margin: 0 auto 25px;
    }
    .movie-poster {
        margin: -200px auto 0;
    
    }
}